#chat_title {
    text-align: center;
}
#onlineheader{
    color: rgb(35, 239, 17);
    font-size: 24px;
    
}
#offlineheader{
    color: rgb(239, 17, 206);
    font-size: 24px;
}
#testybar{
    color:rgb(35, 239, 17);
}
// ion-item{
//     :hover{ 
//         background-color: aqua;
//     }
// }