<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="crop_title">
      Stardew Valley - Crops
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">


  <ion-item button (click)="presentAlert1()">
    <ion-avatar slot="start">
      <img src="./assets/images/Hot_Pepper.png" />
    </ion-avatar>
    <ion-label>
      <h2>Hot Pepper</h2>
       
      <p> <ion-icon name="wallet-outline"></ion-icon> 40g - 80g sale price</p> 
    </ion-label>
  </ion-item>
  <ion-item button (click)="presentAlert2()">
    <ion-avatar slot="start">
      <img src="./assets/images/Green_Bean.png" />
    </ion-avatar>
    <ion-label>
      <h2>Green Bean</h2>
       
       <p> <ion-icon name="wallet-outline"></ion-icon> 40g - 80g sale price</p> 
    </ion-label>
  </ion-item>
  <ion-item button (click)="presentAlert3()">
    <ion-avatar slot="start">
      <img src="./assets/images/Starfruit.png" />
    </ion-avatar>
    <ion-label>
      <h2>Starfruit</h2>
       
      <p> <ion-icon name="wallet-outline"></ion-icon> 750g - 1500g sale price</p>
    </ion-label>
  </ion-item>
  <ion-item button (click)="presentAlert4()">
    <ion-avatar slot="start">
      <img src="./assets/images/Tomato.png" />
    </ion-avatar>
    <ion-label>
      <h2>Tomato</h2>
       
      <p> <ion-icon name="wallet-outline"></ion-icon> 60g - 120g sale price</p>
    </ion-label>
  </ion-item>
  <ion-item button (click)="presentAlert5()">
    <ion-avatar slot="start">
      <img src="./assets/images/Pumpkin.png" />
    </ion-avatar>
    <ion-label>
      <h2>Pumpkin</h2>
       
      <p> <ion-icon name="wallet-outline"></ion-icon> 320g - 640g sale price</p>
    </ion-label>
  </ion-item>
<!-- 
  <ion-content padding>
    <p>
        Sending a POST Request Example with Ionic 5
    </p>
     <button ion-button (click)="sendPostRequest()">Post Data</button>
  </ion-content>  -->



